@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #F7F5DD;
}

.special-color {
  color: #e80e65;
}

.underline {
  position: relative;
}
.underline::after {
  content: "";
  position: absolute;
  width: 100%;
  border-radius: 15px;
  transform: scaleX(0);
  margin-bottom: -4px;
  height: 2.4px;
  bottom: 0;
  left: 0;
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
  background-color: #e80e65;
}
.underline:hover::after, .underline:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.blob {
  position: absolute;
  z-index: -1;
  width: 900px;
}

.hidden {
  opacity: 0;
  transition: all 1.2s ease-in-out;
}

.tech-logo-container {
  opacity: 0;
  transform: translateX(-100vw);
  filter: blur(5px);
  transition: all 0.5s ease-in-out;
}

.tech-logo-container:nth-child(1) {
  transition-delay: 200ms;
}

.tech-logo-container:nth-child(2) {
  transition-delay: 400ms;
}

.tech-logo-container:nth-child(3) {
  transition-delay: 600ms;
}

.tech-logo-container:nth-child(4) {
  transition-delay: 800ms;
}

.tech-logo-container:nth-child(5) {
  transition-delay: 1000ms;
}

.tech-logo-container:nth-child(6) {
  transition-delay: 1200ms;
}

.tech-logo-container:nth-child(7) {
  transition-delay: 1400ms;
}

.tech-logo-container:nth-child(8) {
  transition-delay: 1600ms;
}

.tech-logo-container:nth-child(9) {
  transition-delay: 1800ms;
}

.tech-logo-container:nth-child(10) {
  transition-delay: 2000ms;
}

.show {
  transform: translate(0, 0);
  filter: blur(0);
  opacity: 1;
}

.profile-title {
  position: relative;
  font-size: 4.209rem;
  letter-spacing: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  width: 710px;
  animation: typing 2s steps(18), blink 0.5s step-end 11 alternate;
  box-shadow: none;
}

@keyframes blink {
  50% {
    box-shadow: 0.25rem 0 0 #000;
  }
}
@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
@media (width < 768px) {
  .blob {
    width: 100%;
  }
}
:root {
  --hamburger-height: calc((var(--bar-height) * 3) + var(--hamburger-gap) * 2);
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  --bar-width: 1.8rem;
  --bar-height: .2rem;
  --hamburger-gap: .3rem;
  --hamburger-margin: 1rem;
  --foreground: #e80e65;
  --animation-timing: .3s ease-in-out;
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
}
header .navbar {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.3rem;
}
header .navbar .profile-name {
  font-size: 1.333rem;
  font-weight: bold;
}
header .navbar ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
header .navbar ul li {
  text-decoration: none;
}
header .navbar a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-block;
  position: relative;
}
header .navbar .contact-btn {
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s;
}
header .navbar .contact-btn:hover {
  transform: scale(1.03);
}
@media (max-width: 700px) {
  header .navbar .nav-desktop {
    display: none;
  }
  header .navbar .nav-mobile {
    display: block;
  }
}
header .nav-mobile {
  display: none;
  z-index: 98;
}
header .nav-mobile .hamburger {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  cursor: pointer;
}
header .nav-mobile .hamburger::after, header .nav-mobile .hamburger::before,
header .nav-mobile .hamburger .bar {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  transition: all var(--animation-timing);
  transform-origin: right;
  border-radius: 9999px;
}
header .nav-mobile .hamburger .bar-active {
  opacity: 0;
  width: 0;
}
header .nav-mobile .hamburger-active {
  --foreground: #e80e65;
}
header .nav-mobile .hamburger-active::after {
  rotate: 45deg;
  translate: 0 calc(var(--bar-height) / 2);
  width: var(--x-width);
}
header .nav-mobile .hamburger-active::before {
  rotate: -45deg;
  translate: 0 calc(var(--bar-height) / -2);
  width: var(--x-width);
}
header .sidebar {
  transition: all var(--animation-timing);
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: #F7F5DD;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .sidebar .profile-name {
  color: #000;
}
header .sidebar .navbar-mobile {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0;
  color: #000;
}
header .sidebar .navbar-mobile .contact-btn {
  background: #e80e65;
}
header .sidebar .navbar-mobile .contact-btn a {
  color: #F7F5DD;
}
header .sidebar .navbar-mobile li {
  list-style: none;
  text-align: center;
}
header .sidebar .navbar-mobile li .underline {
  text-decoration: none;
  color: #000;
}
header .sidebar .navbar-mobile li .underline::after {
  background-color: #e80e65;
}
header .sidebar-active {
  translate: -100%;
}

.bg-1 {
  background: #F7F5DD;
  transition: 0.5s;
}
.bg-1 a {
  color: #000;
}
.bg-1 .profile-name {
  color: #000;
}
.bg-1 .contact-btn {
  background: #e80e65;
  transition: all 0.3s;
}
.bg-1 .contact-btn a {
  color: #F7F5DD;
}
.bg-1 .contact-btn:hover {
  background: #f50264;
}

.bg-2 {
  background: #e80e65;
  transition: all 0.5s;
}
.bg-2 a {
  color: #F7F5DD;
}
.bg-2 .profile-name {
  color: #F7F5DD;
}
.bg-2 .contact-btn {
  background: #F7F5DD;
  transition: all 0.3s;
}
.bg-2 .contact-btn a {
  color: #e80e65;
}
.bg-2 .contact-btn:hover {
  background: #fff;
}
.bg-2 .underline::after {
  background-color: #F7F5DD;
}
.bg-2 .nav-mobile .hamburger::after,
.bg-2 .nav-mobile .hamburger::before,
.bg-2 .nav-mobile .hamburger .bar {
  background-color: #F7F5DD;
}

.profile {
  margin: 0 auto;
  height: 80vh;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2rem;
  max-width: 80%;
  margin-bottom: 7rem;
}
.profile .profile-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.profile .profile-info .profile-description {
  width: fit-content;
  align-self: center;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 1rem;
}
.profile .profile-info .profile-description p {
  width: 60%;
  font-size: 1.3rem;
}
.profile .profile-info .profile-description .profile-details svg {
  width: 2.3em;
}
.profile .profile-info .profile-img {
  width: 15rem;
}
.profile .profile-info .profile-img img {
  border-radius: 50%;
  width: 100%;
  border: 0.2rem solid rgba(35, 35, 35, 0.231372549);
}
@media (768px < width < 1023px) {
  .profile .profile-info .profile-description .profile-title {
    font-size: 2.369rem;
    letter-spacing: 0.4rem;
    width: 440px;
  }
}
@media (width < 768px) {
  .profile .profile-info {
    flex-wrap: wrap;
    align-items: center;
  }
  .profile .profile-info .profile-description {
    align-items: center;
    justify-content: center;
  }
  .profile .profile-info .profile-description .profile-title {
    font-size: 2.369rem;
    letter-spacing: 0.4rem;
    width: 440px;
  }
}
@media (width < 480px) {
  .profile .profile-info .profile-description .profile-title {
    white-space: normal;
    width: 90%;
    animation: none;
    text-align: center;
  }
  .profile .profile-info .profile-description p {
    font-size: 1rem;
  }
}

.profile-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-bottom: 7rem;
}
.profile-skills h3 {
  width: fit-content;
  font-size: 2.369rem;
}
.profile-skills .tech-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.profile-skills .tech-stack .tech-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  height: 5rem;
}
.profile-skills .tech-stack .tech-logo-container .tech-img {
  background: rgba(0, 0, 0, 0.0980392157);
  display: flex;
  height: 3.5rem;
  width: 3.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
}
.profile-skills .tech-stack .tech-logo-container .tech-img img {
  user-select: none;
  width: 2.3rem;
}
.profile-skills .tech-stack .tech-logo-container .tech-logo-info {
  color: #636363;
  font-weight: 600;
  margin-top: 5px;
  width: max-content;
  transition: all 0.3s;
  position: absolute;
  bottom: 0;
  opacity: 0;
  user-select: none;
  z-index: 0;
  transform: translateY(-1.2rem);
}
@media (width < 768px) {
  .profile-skills .tech-stack {
    width: 80%;
  }
}

.tech-logo-container > .tech-img:hover + .tech-logo-info {
  transform: translateY(0);
  opacity: 1;
}

.tech-logo-container > .tech-img:focus + .tech-logo-info {
  transform: translateY(0);
  opacity: 1;
}

.about {
  width: 100%;
  height: 100vh;
  background: #e80e65;
  margin: 0 auto 7rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}
.about .blob {
  z-index: 1;
  width: 800px;
}
.about .about-container {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.about .about-container .about-description {
  color: #F7F5DD;
  font-size: 1rem;
  text-align: justify;
}
.about .about-container .about-description h3 {
  text-align: center;
  font-size: 2.369rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.about .about-container .about-description p {
  width: 300px;
}
.about .about-container img {
  width: 300px;
  border-radius: 1rem;
}
@media (width < 768px) {
  .about .blob {
    display: none;
  }
  .about .about-container {
    flex-direction: column-reverse;
  }
  .about .about-container .about-text {
    width: 100%;
  }
}

.projects {
  margin: 5rem auto 3rem auto;
  width: 60%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  margin-bottom: 7rem;
}
.projects h3 {
  font-size: 2.369rem;
  text-align: center;
}
.projects .project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.projects .project-container .project-info {
  width: 300px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
  text-align: justify;
}
.projects .project-container .project-info h4 {
  font-size: 1.777rem;
  width: fit-content;
  border-bottom: 2px solid #e80e65;
  align-self: flex-start;
}
.projects .project-container .project-info p {
  color: #636262;
}
.projects .project-container .project-info .user-account .data-section {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.projects .project-container .project-info .user-account .data-section .copy {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
}
.projects .project-container .project-info .user-account .data-section .copy img {
  width: 100%;
}
.projects .project-container .project-info .project-techs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.projects .project-container .project-info .project-techs img {
  width: 1.4rem;
}
.projects .project-container .project-info .project-info-links {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.projects .project-container .project-info .project-info-links a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}
.projects .project-container .project-info .project-info-links img {
  width: 1.3rem;
}
.projects .project-container .project-img {
  width: 330px;
  height: 300px;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.3s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
  gap: 2rem;
}
.contact h3 {
  font-size: 2.369rem;
  border-bottom: 2.4px solid #e80e65;
}
.contact .contact-links {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}
.contact .contact-links .contact-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.contact .contact-links .contact-item a {
  border-radius: 50%;
  display: grid;
  place-content: center;
}
.contact .contact-links .contact-item a svg {
  color: #101011;
  width: 1.8rem;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .contact-links .contact-item a svg:hover {
  color: black;
}
.contact .contact-links .contact-item .contact-item-link {
  color: #636262;
  cursor: pointer;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
