
    $color-1: #e80e65;
    $color-2: #F7F5DD;
    $color-3: #FFF5F7;
    $color-4: #BD808A;
    $text:1rem;
    $title: 4.209rem;
    $subtitle: 2.369rem;
    $heading-1: 1.777rem; 
    $heading-2: 1.333rem;
    $transition: .3s;
    $border-bottom: 2.4px solid $color-1;
