@use "../abstracts" as *;
.projects {
    margin: 5rem auto 3rem auto;
    width: 60%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    margin-bottom: 7rem;
    h3 {
        font-size: $subtitle;
        text-align: center;
        
    }
    .project-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        .project-info {
            transform: translateX(-100px);
            transition: transform 1.2s ease-in-out;
            width: 300px;
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            font-size: $text;
            text-align: justify;
            
            h4 {
                font-size: $heading-1;
                width: fit-content;
                border-bottom: 2px solid $color-1;
                align-self: flex-start;
            }
            p{
                color: #636262;
            }
            .user-account{
                .data-section {
                    display: flex;
                    align-items: center;
                    gap: .7rem;
                    .copy {
                        background: none;
                        outline: none;
                        border: none;
                        cursor: pointer;
                        height: 1.2rem;
                        width: 1.2rem;
                        img {
                            width: 100%
                        }
                    }
                }
            }
            .project-techs {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                img {
                    width: 1.4rem;
                }
            }

            .project-info-links {
                display: flex;
                justify-content: center;
                gap: 25px;

                a {
                    text-decoration: none;
                    color: #000000;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                img {
                    width: 1.3rem;
                }
            }
        }

        .project-img {
            transform: translateX(100px);
            transition: transform 1.2s ease-in-out;
            width: 330px;
            height: 300px;
            overflow: hidden;
            border-radius: 15px;
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: all $transition;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }
    }
    .project-container-alt {
        flex-direction: row-reverse;
        .project-info { 
            transform: translateX(100px);
        }
        .project-img {
            transform: translateX(-100px);
        }
    }
    .show {
        .project-info { 
            transform: translateX(0);
            transition: transform 1.2s ease-in-out;
        }
        .project-img {
            transform: translateX(0);
            transition: transform 1.2s ease-in-out;
        }
    }
}
