@use "../abstracts"as *;

.underline {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        border-radius: 15px;
        transform: scaleX(0);
        margin-bottom: -4px;
        height: 2.4px;
        bottom: 0;
        left: 0;
        transform-origin: bottom left;
        transition: transform $transition ease-out;
        background-color: $color-1;
    }
    &:hover::after, &:focus::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

.blob {
    position: absolute;
    z-index: -1;
    width: 900px;
}

.hidden {
    opacity: 0;
    transition: all 1.2s ease-in-out;
}

.tech-logo-container {
    opacity: 0;
    transform: translateX(-100vw);
    filter: blur(5px);
    transition: all .5s ease-in-out;
}
.tech-logo-container:nth-child(1) {
    transition-delay: 200ms;
}
.tech-logo-container:nth-child(2) {
    transition-delay: 400ms;
}
.tech-logo-container:nth-child(3) {
    transition-delay: 600ms;
}
.tech-logo-container:nth-child(4) {
    transition-delay: 800ms;
}
.tech-logo-container:nth-child(5) {
    transition-delay: 1000ms;
}
.tech-logo-container:nth-child(6) {
    transition-delay: 1200ms;
}
.tech-logo-container:nth-child(7) {
    transition-delay: 1400ms;
}
.tech-logo-container:nth-child(8) {
    transition-delay: 1600ms;
}
.tech-logo-container:nth-child(9) {
    transition-delay: 1800ms;
}
.tech-logo-container:nth-child(10) {
    transition-delay: 2000ms;
}

.show {
    transform: translate(0, 0);
    filter: blur(0);
    opacity: 1;
}

.profile-title {
    position: relative;
    font-size: $title;
    letter-spacing: .5rem;
    white-space: nowrap;
    overflow: hidden;
    width: 710px;
    animation: typing 2s steps(18),
        blink .5s step-end 11 alternate;
    box-shadow: none;
}


@keyframes blink {
    50% {
        box-shadow: .25rem 0 0 #000;
    }
}

@keyframes typing {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@media (width < 768px) {
    .blob {
        width: 100%;
    }
}