@use "../abstracts"as *;

.underline {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        width: 100%;
        border-radius: 15px;
        transform: scaleX(0);
        margin-bottom: -4px;
        height: 2.4px;
        bottom: 0;
        left: 0;
        transform-origin: bottom left;
        transition: transform $transition ease-out;
        background-color: $color-1;
    }
    &:hover::after, &:focus::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

.blob {
    position: absolute;
    z-index: -1;
    width: 900px;
}

.hidden {
    opacity: 0;
    transition: all 1.2s ease-in-out;
}

.show {
    opacity: 1;
}

.profile-title {
    position: relative;
    font-size: $title;
    letter-spacing: .5rem;
    white-space: nowrap;
    overflow: hidden;
    width: 710px;
    animation: typing 2s steps(18),
        blink .5s step-end 11 alternate;
    box-shadow: none;
}


@keyframes blink {
    50% {
        box-shadow: .25rem 0 0 #000;
    }
}

@keyframes typing {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@media (width < 768px) {
    .blob {
        width: 100%;
    }
}